*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  /* color: white; */
}

.main-div{
  width: 100%;
  height: 100vh;
  background-color: #34656d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-div{
  width: 400px;
  height: 600px;
  background-color: #ecedf2;
  box-shadow: 10px 10px 20px black;
  /* overflow-y: scroll; */
  
}

.center-div h1{
  text-align: center;
  color: #34656d;
}

.center-div input{
  width: 85%;
  margin: 5px;
  height: 30px;
}

.center-div button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  color: #ecedf2;
  background-color: #34656d;
  font-size: 3rem;
  text-align: center;
  /* display: table-cell;
  vertical-align: middle; */
  cursor: pointer;
  line-height: 30px;
  /* margin: auto; */
  /* padding-bottom: 5px; */
}

.input{
  display: flex;
  justify-content: center;
  align-items: center;
}

.input input{
  /* margin-bottom: 30px; */
  border-radius: 25px;
  background-color: #ecedf2;
  box-shadow: inset 8px 8px 8px #cbced1,
              inset -8px -8px 8px #ffffff;
  border: none;
  height: 50px;
  font-size: 1rem;
  padding: 15px;
  letter-spacing: 1px;
  font-weight: 600;
  outline: none;
}

.center-div ol .item{
  display: flex;
  /* justify-content: center; */
  align-items:center;
  padding: 10px;
  margin: 20px;
  box-shadow: 5px 5px 5px gray;
  
}

.center-div ol .item li,i{
  list-style: none;
  text-transform: capitalize;
  font-family: 'KoHo', sans-serif;
  padding-left: 20px;
  font-size: 1.3rem;
  font-weight: 700;
}

.center-div ol .item i{
  color: #34656d;

}

.ol{
  height: 450px;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #34656d; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #34656d; 
}